.profile__footer{
    display: flex;
    justify-content: space-between;
    position:fixed;
    bottom:0;
    height: 65px;
    width: 97%;
    background-color: var(--grey);
    color: white;
    padding: 20px;
}

.profile__footer__left{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    color: white;
    max-width: 300px;
}

.footer__albumLogo{
    object-fit: contain;
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.footer__songInfo > h4{
    margin-bottom: 5px;
}
.footer__songInfo > p{
    font-size: 12px;
}

.footer__icon:hover,
.footer__green:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
    ;
}

.profile__footer__right{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.profile__footer__right * .MuiSlider-root {
    color: var(--spotify-green);
}

.profile__footer__center{
    display: flex;
    flex-basis: 40%;
    justify-content: space-evenly;
    align-items: center;
    max-width: 300px;
    padding: 0 100px;
    color: white;
}

.footer__green {
    color: var(--spotify-green);
}

.footer__green {
    color: var(--spotify-green);
}